.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 40px auto;
  background-color: #eee;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px #bbb;
}